Source: autokey
Section: gnome
Priority: optional
Maintainer: Chris Dekter <cdekter@gmail.com>
Build-Depends: python (>= 2.6), cdbs (>= 0.4.49), debhelper (>= 6)
Build-Depends-indep: python-central (>= 0.6.0)
Standards-Version: 3.8.2
XS-Python-Version: >= 2.6
Homepage: http://autokey.sf.net/

Package: autokey
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-gtk2, python-gobject, python-xlib, python-configobj, python-notify, librsvg2-2
XB-Python-Version: ${python:Versions}
Description: Text expansion and hotkey utility
 AutoKey is a text expansion/replacement and hotkey utility for Linux and X11.
 It can receive keyboard events via several methods and uses X events to drive 
 the expansions. It is designed to save time by automating repetitive typing 
 tasks, among other things.
